[submodule "whitespace-pack"]
	path = whitespace-pack
	url = git@github.com:sjagoe/whitespace-pack.git
[submodule "modeline-pack"]
	path = modeline-pack
	url = git@github.com:sjagoe/modeline-pack.git
[submodule "orgmode-pack"]
	path = orgmode-pack
	url = git@github.com:sjagoe/orgmode-pack.git
[submodule "desktop-pack"]
	path = desktop-pack
	url = git@github.com:sjagoe/desktop-pack.git
[submodule "disorganized-pack"]
	path = disorganized-pack
	url = git@github.com:sjagoe/disorganized-pack.git
[submodule "cython-pack"]
	path = cython-pack
	url = git@github.com:sjagoe/cython-pack.git
